.cartasJugadoresHistoricos{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
    margin: 30px;
    max-height: 300px;
    font-weight: bold;
    width: 60%;
}

.divInfoJugador{
    width: 70%; 
}

.imageJugador{
max-height: 100%;
}

.cuerpoCarta{
    display: flex;
    align-content: space-around;
    text-align: left;
    width: 100%;
    flex-direction: column;
    padding: 6px;
    padding-left: 10px;
    box-shadow: 4px 0px 8px rgba(255, 215, 0, 0.7), 0px 4px 8px rgba(255, 215, 0, 0.7), 0px -4px 8px rgba(255, 215, 0, 0.7);
}