.cartasJugadoresHistoricos{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
    margin: 30px;
    max-height: 300px;
    background-image: url("https://img.freepik.com/vector-gratis/fondo-lujo-diseno-moderno-abstracto-oscuro_343694-2197.jpg?t=st=1719377695~exp=1719381295~hmac=afbd2c3ee82c57c68365aacd7762ee189b335399fd350d59351f6eb59ab3fc8c&w=1380");
    background-repeat: no-repeat;
    background-size: cover;
    color: gold;
}

.divInfoJugador{
    width: 70%; 
}

.imageJugador{
max-height: 100%;
}

.cuerpoCarta{
    display: flex;
    align-content: space-around;
    text-align: left;
    width: 100%;
    flex-direction: column;
    padding: 6px;
}

#listadoGeneral{
    flex-direction: column-reverse;
}