#imgEquipo {
    height: 5rem;
}

#nombreEquipo {
    font-size: 1.5rem;
}

#clubesParticipantes {
    overflow-y: scroll;
    height: 40vh;
}

#partidosSiguientes {
    overflow-y: scroll;
    height: 40vh;
}

#edicion-equipo {
    width: 15vw;
}
