#imgEquipo {
    height: 5rem;
}

#nombreEquipo {
    font-size: 1.5rem;
}

#clubesParticipantes {
    overflow-y: scroll;
    height: 55vh;
}

#partidosSiguientes {
    overflow-y: scroll;
    height: 55vh;
}

#edicion-equipo {
    width: 15vw;
}

#anchorEquipo:hover {
    background-color: rgba(103, 103, 103, 0.364);
}

.svgEliminarEquipo {
    position: absolute;
    top: 10px;
    right: 6px;
    cursor: pointer;
    
}