#nombreCampeonato{
font-size: 35px;
font-weight: 900;
width: 100%;
margin: auto;
}

#sinEdiciones{
background: rgb(7,41,250);
background: linear-gradient(90deg, rgba(7,41,250,1) 0%, rgba(253,47,29,0.9696079115239846) 50%, rgba(232,225,225,1) 100%);
border-radius: 23px;
color: white;
width: 25%;
font-weight: 900;
font-size: 20px;
}

@media (max-width: 768px) {
    #divBotonCrear {
        flex-direction: column; 
        align-items: center;
    }

    #nombreCampeonato {
        width: 100%; 
        margin-bottom: 10px;
    }

    .table-responsive {
        overflow-x: auto;
    }
}

.tdAccionesEdiciones {
    width: 8%;
}

.tdFechaInicioEdiciones, .tdFechaFinalEdiciones {
    width: 13%;
}

.tdLiguillaEdiciones {
    width: 5%;
}

.tdCampeonEdiciones {
    width: 15%;
}