section a {
    margin-top: 20px;
}

#clubes{
    background-color: #38CBFF;
    background-image: url("https://www.invsport.com/img/index/balon-fondo-inicio.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#idolos{
    background-color: #38CBFF;
    background-image: url("https://img2.wallspic.com/previews/8/3/9/7/3/137938/137938-la_copa_del_mundo-patada_de_ftbol-x750.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#palmares {
    position: relative;
    overflow: hidden; /* Para evitar que el desenfoque se propague */
}

.background-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2013/02/18/18/36/trophy-83115_960_720.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(3.5px);
}

.content {
    position: relative;
    z-index: 1; /* Para asegurar que el contenido esté encima de la imagen de fondo */
    padding: 20px;
}


#interiorSanducero{
    background-color: #38CBFF;
    //background-image: url("https://images.pexels.com/photos/774321/pexels-photo-774321.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(27,27,116,1) 30%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#ejemplosJugadaoresHistoricos{
    background-color: #1F1D1E;
    background-image: url("https://cdn.vectorstock.com/i/500p/53/73/squares-black-mesh-carbon-dark-fiber-vector-42015373.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.seccionesDashboard{
    padding: 100px 100px 100px 100px;
    margin: auto;
}

.sectionDescriptions{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
}

.sectionDiv{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.sectionDiv:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: translate(10px, 10px);
}

.banner {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.banner-inner {
    display: flex;
    animation: scrollBanner 15s linear infinite;
}

.banner img {
    width: auto;
    height: 4rem;
    padding: 10px;
    margin: 10px;
}

@keyframes scrollBanner {
    0% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(-30%);
    }
}

.cartaLegendaria {
    width: 190px;
    height: 254px;
    background-image: linear-gradient(163deg, #ffd700 0%, #ffd700 100%);
    border-radius: 20px;
    transition: all .3s;
    margin-inline: 170px;
   }
   
.card2 {
    width: 190px;
    height: 254px;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: all .2s;
   }
   
.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
.cartaLegendaria:hover {
    box-shadow: 0px 0px 30px 1px rgba(255, 215, 0, 0.30);
   }

.imagenCartaJugador{
    width: 190px;
    height: 254px;
    border-radius: 20px;
   }

.divCartas{
    display: flex;
    text-align: center;
}

.divCartas span{
    color: gold;
    margin: 4px;
    font-weight: bold;
    font-style: italic;
}