.footer {
    background-color: #0d6efd;
    color: white;
    margin-top: auto;
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.personalized-footer h5 {
    color: #2A359F;
}

.personalized-footer a {
    color: white;
    text-decoration: none;
}

.personalized-footer a:hover {
    color: #3B4ADF;
}

.divBajoFooter a {
    color: white;
}