.tdAccionesJugadores {
    width: 15%;
}

.tdFechaJugadores {
    width: 12%;
}

.tdPosicionJugadores {
    width: 25%;
}

#imgAlternativaJugaodores {
    height: 5rem;
}

.sinJugadores {
    background: linear-gradient(90deg, rgba(7,41,250,1) 0%, rgba(253,47,29,0.9696079115239846) 50%, rgba(232,225,225,1) 100%);
    border-radius: 23px;
    color: white;
    width: 40%;
}

/*  Estilo para el contenedor select2 
.custom-select2 .select2-selection {
    padding: 0;  Ajusta el padding a tu necesidad 
    height: auto;  Ajusta la altura si es necesario 
}

 Estilo para el input dentro del contenedor select2 
.custom-select2 .select2-selection__rendered {
    padding: 0;  Ajusta el padding a tu necesidad 
} */