.tdAccionesJugadores {
    width: 15%;
}

.tdFechaJugadores {
    width: 12%;
}

.tdPosicionJugadores {
    width: 25%;
}

#imgAlternativaJugaodores {
    height: 5rem;
}

.sinJugadores {
    background: linear-gradient(90deg, rgba(7,41,250,1) 0%, rgba(253,47,29,0.9696079115239846) 50%, rgba(232,225,225,1) 100%);
    border-radius: 23px;
    color: white;
    width: 40%;
}